.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 14px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px;
  }

  &__container {
    padding: 0 45px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    align-items: center;
  }

  &__navigation {
    display: none;
    // display: flex;
    // gap: 64px;
    // flex-grow: 1;
    // justify-content: center;

    @media screen and (min-width: $bp-desktop) {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      gap: 64px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-light-primary);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
